*.moc
*.o
*.pro.user*
*.vcxproj
*.vcxproj.*
*/debug/
*/release/
*~
.*.swo
.*.swp
Makefile
Makefile.Debug
Makefile.Release
app/*_lex.?pp
app/*_lex.cpp
app/*_yacc.cpp
app/*_yacc.h
debian/files
debian/shaderkit.debhelper.log
debian/shaderkit.postinst.debhelper
debian/shaderkit.postrm.debhelper
debian/shaderkit.substvars
docs
glsl.output
glsl.tab.cpp
glsl.tab.hpp
lex.yy.c
lib*.a
lib*.so
lib*.so.*
moc_*.cpp
qrc_*.cpp
shaderkit
shaderkit.sdf
shaderkit.sln
shaderkit.suo
tests/*/tests/*.out
tests/parser/parser
ui_*.h
version.hpp
