*.moc
*.o
*.vcxproj
*.vcxproj.*
*/debug/
*/release/
*~
.*.swo
.*.swp
Makefile
Makefile.Debug
Makefile.Release
docs
glsl.output
glsl.tab.cpp
glsl.tab.hpp
lab
lab.pro.user*
lab.sdf
lab.sln
lab.suo
lex.yy.c
lib*.a
lib*.so
lib*.so.*
moc_*.cpp
qrc_*.cpp
ui_*.h
